body{
	width: 800px;
	height: 420px;
	background: url(../img/Fondo03.png) no-repeat;
	background-size: contain;
}

.contentAnuncio{
	font-family: 'Maven Pro', sans-serif;
	font-size:0.8em;
	text-align: justify;
}

.mainTitle {
	color: #ffffff;
	font-size:1.2em;
	text-align: justify;
}

.fraseT3 {
	font-family: Trebuchet MS, Helvetica, sans-serif;
}

.firmaT3 {
	font-size: 12px;
	color: #ffffff;
	font-family: Brush Script MT, cursive;
}

div .contentT3 {
	text-align: justify;
	vertical-align: top;
	padding-right: 10px;
}

.textoBlanco {
	color: #ffffff;
}

.textoVerde {
	color: #238276;
}

.textoNaranja {
	color: #fc7323;
}

blockquote {
	padding: 0 0 0 15px;
	margin: 0 0 18px;
	border-left: 5px solid #eeeeee;
	font-size: 14px;
}

div .bottomT3 {
	position: absolute;
	bottom: 0;
	left: 0;
}

.textFooter{
	font-size: 1em;
	text-align: justify;
}